<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    {{ function('wp_head') }}
</head>
<body {{ function('body_class') }}>
{{ function('wp_body_open') }}

<div id="page" class="site">
    {% include 'header.twig' %}

    <main id="main" class="site-main">
        {% block content %}{% endblock %}
    </main>

    {% include 'footer.twig' %}
</div>

{{ function('wp_footer') }}
</body>
</html>
